* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cabeçalho e navegação */

header {
    background-color: rgba(133, 4, 4, 0.973);
    color: white;
    padding: 15px;
    text-align: center;
}

h1, h2, h3, h4 {
    margin-bottom: 20px;,
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0px;
}

nav ul li {
    display: inline;
    margin: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Conteúdo Principal */

body {
    background-color: rgba(255, 255, 255, 0);
}

main {
    margin: 30px;
    padding: 20px;
}

section {
    background-color: rgba(252, 220, 160, 0.644);
    padding: 15px;
    border-radius: 20px;
}

p {
    margin-bottom: 15px;
    padding: 15px;
}

pre { 
    background-color: rgba(133, 4, 4, 0.918);
    border-style: double ; color: white ;
    padding: 10px;
    border-radius: 15px;
}

li {
    margin: 20px;
    padding: 10;
}

.card  { 
    background-color: black;
    padding: 10px;
    margin: 15px;
}